@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Lobster&family=Righteous&family=Share+Tech&family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
    display: block;
}

h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Cormorant SC', serif;
    color: rgba(168, 223, 150, 0.692);
    font-size: 3rem;
    font-weight: bold;
    background: rgba(44, 49, 42, 0.452);
}

h2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Cormorant SC', serif;
    color: rgba(168, 223, 150, 0.692);
    font-size: 3rem;
    font-weight: bold;
}

p{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Cormorant SC', serif;
    color: rgba(168, 223, 150, 0.692);
    font-size: 1.5rem;
}

img{
    width: 300px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

button:hover{
    background: rgba(117, 126, 116, 0.382);
    border-radius: 50%;
}

main{
    padding-bottom: 50px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(44, 49, 42, 0.452);
    padding: 70px;
}

li{
    list-style: none;
    padding: 15px;
}

#footer-menu-item{
    display: flex;
    color: rgba(155, 116, 194, 0.55);
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant', serif;
}

#footer-menu-item:hover{
    background: rgba(75, 81, 65, 0.382);
}

h5{
    font-family: 'Cormorant', serif;
    color: rgba(168, 223, 150, 0.692);
}

ul{
    display: flex;
}
