@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Share+Tech&family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/fundo-site.png);
    display: block;
}

h1{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    font-family: 'Lobster', cursive;
    color: rgba(250, 235, 215, 0.692);
    font-size: 3rem;
    font-weight: bold;
}

img{
    width: 300px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}